zcta2004.dbf
zcta2004.prj
zcta2004.sbn
zcta2004.sbx
zcta2004.shp
zcta2004.shp.xml
zcta2004.shx
zctapoints2004.dbf
zctapoints2004.prj
zctapoints2004.sbn
zctapoints2004.sbx
zctapoints2004.shp
zctapoints2004.shp.xml
zctapoints2004.shx
