1989countyincome.csv
1989countyincome.zip
1990countyincome.csv
1990countyincome.zip
1991countyincome.csv
1991countyincome.zip
1992countyincome.csv
1992countyincome.zip
1992to1993countymigration.zip
1993countyincome.csv
1993countyincome.zip
1993to1994countymigration.zip
1994countyincome.csv
1994countyincome.zip
1994to1995countymigration.zip
1995countyincome.csv
1995countyincome.zip
1995to1996countymigration.zip
1996countyincome.csv
1996countyincome.zip
1996to1997countymigration.zip
1997countyincome.csv
1997countyincome.zip
1997to1998countymigration.zip
1998countyincome.csv
1998countyincome.zip
1998to1999countymigration.zip
1998zipcode.zip
1999countyincome.csv
1999countyincome.zip
1999to2000countymigration.zip
2000countyincome.csv
2000countyincome.zip
2000to2001countymigration.zip
2001countyincome.csv
2001countyincome.zip
2001to2002countymigration.zip
2001zipcode.zip
2002countyincome.csv
2002countyincome.zip
2002to2003countymigration.zip
2002zipcode.zip
2003countyincome.csv
2003countyincome.zip
2003to2004countymigration.zip
2004countyincome.csv
2004countyincome.zip
2004zipcode.zip
2005countyincome.csv
2005countyincome.zip
2005zipcode.zip
2006countyincome.csv
2006countyincome.zip
2006zipcode.zip
2007countyincome.csv
2007countyincome.zip
2007zipcode.zip
2008countyincome.csv
2008countyincome.zip
2008zipcode.zip
2009countyincome.csv
2009countyincome.zip
2009zipcode.zip
2010countydata.zip
2010zipcode.zip
2011countydata.zip
2012countydata.zip
county2013.zip
countyinflow0405.csv
countyinflow0506.csv
countyinflow0607.csv
countyinflow0708.csv
countyinflow0809.csv
countyinflow0910.csv
countyinflow1011.csv
countyinflow1112.csv
countyinflow1213.csv
countyinflow1314.csv
countyoutflow0405.csv
countyoutflow0506.csv
countyoutflow0607.csv
countyoutflow0708.csv
countyoutflow0809.csv
countyoutflow0910.csv
countyoutflow1011.csv
countyoutflow1112.csv
countyoutflow1213.csv
countyoutflow1314.csv
11zpallagi.csv
11zpallnoagi.csv
12zpallagi.csv
12zpallnoagi.csv
13zpallagi.csv
13zpallnoagi.csv
